<h3 align="center">Top Articles</h3>
<div align="center"> 
  <button ng-disabled="top.currPage < 1 || top.currPage > 15" ng-click="top.currPage=top.currPage-1">Back</button>
    {{top.currPage}}
  <button ng-disabled="top.currPage === 16" ng-click="top.currPage=top.currPage+1">Next</button>
</div>
  <ul>
    <li ng-repeat="article in top.articles | orderBy: top.time | filter: top.currPage * top.perPage | limitTo: top.perPage">
      <a href="#/post/{{ article.id }}">{{article.title}}</a> - - - by {{ article.by }}<br>
      {{ article.time * 1000 | date: 'medium' }}<br>
      <strong>Score:</strong> {{ article.score }}<br> 
      <small><a href="{{ article.url }}" target="_blank">{{ article.url }}</a></small>
      <hr>
    </li>
  </ul>
<div align="center">
  <button ng-disabled="top.currPage < 1" ng-click="top.currPage=top.currPage-1">Back</button>
    {{top.currPage}}
  <button ng-disabled="top.currPage === 16" ng-click="top.currPage=top.currPage+1">Next</button>
</div>
